
.comp{
 
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-image: url('./images/aa.jpg');
  background-position: center center;
  overflow-x: scroll;
  }
  
  .extraSpacing{

    width: 100%;
    height: 95px;
  }



